.navbar{
    background-color: #87ceeb;
}
.btn{
    /* color: #ffffff;  */
    font-weight: bold; 
    margin: 5px 20px 5px 5px; 
    width: 100px;
    border-radius: 10px;
}
.logo{
    width: 150px; 
    height: 45px;
}

.btn-light{
    color: black;
}
.btn-primary{
    color: white;
}
.search-bar{ 
    border-radius: 10px 0 0 10px;
}
.search{
    width: 550px;
    margin: 5px 20px 5px 5px;
}

.input-group-text img{
    width: 15px;
}
.input-group-text{
    border-radius: 0 10px 10px 0;
}
.profile img{
    width: 50px; 
    height: auto; 
    border-radius: 50%; 
    margin-right: 30px;
}